[Unit]
Description=Schedule netbox-discovery inventory pipeline
Wants=netbox-discovery-update.timer
After=netbox-discovery-update.timer

[Timer]
OnCalendar=daily
Persistent=true
Unit=netbox-discovery.service

[Install]
WantedBy=timers.target
