[Unit]
Description=Schedule netbox-discovery hypervisor inventory pipeline
Wants=netbox-discovery-update.timer
After=netbox-discovery-update.timer

[Timer]
OnCalendar=daily
Persistent=true
Unit=netbox-discovery-hypervisor.service

[Install]
WantedBy=timers.target
